*{
    margin: 0;
    padding: 0;
}
article{
    margin: 50px;
}
article h3{
    padding: 30px 0px 0px 20px;
}
article p{
    width: 1200px;
    padding: 20px 0px 0px 20px;
    text-align: justify;
}
article img{
    margin: 0px 0px 0px 450px;
    border-radius: 10px;
}
article iframe{
    margin: 0px 0px 0px 350px;
}
.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.my-1 {
    margin-top: .25rem !important;
    margin-bottom: .25rem !important;
}
img, svg {
    vertical-align: middle;
}